* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ef1aea;
    height: 100%;
    width: 80%;
    margin: 10% auto;
}

header {
    background-color: #d7e361;
    
}
body {
    background-color: #acc9eb;
}

footer {
    background-color: #a500ff;
}
