* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #232323;
}

body {
    margin: auto;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 610px;
    margin: 0 auto;
    padding: 14px 65px 2px 65px;
}

header {
    background-color: #ef1beb;
    margin-bottom: 12px;
    height : 50px;
}

.first {
    background-color: #d7e461;
    margin-bottom: 12px;    
    height: 200px;
    }

main {
    background-color: #654aff;
    margin-bottom: .8%;
}

.clearfix::after {
    background-color: #654aff;
    content: '';
    display: table;
    clear: both;    
}

.contenuto {
    background-color: #acc9ea;
    margin-bottom: 10px ;
    height : 35px;
}
.left, .center, .right {
    width: 95px;
    float: left;
    height: 210px;
} 

.center {
    margin:0 10px;
    width: 265px;
}

.right {
    float: right;
}



footer {
    background-color: #a500ff;
    height:35px;
}
